# -------------------------------
# Python environments
# -------------------------------
venv/
env/
stockenv/
.venv/

# -------------------------------
# Python cache & artifacts
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Jupyter notebook junk
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Logs
# -------------------------------
*.log
logs/
*.out
*.err

# -------------------------------
# OS / Editor files
# -------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo

# -------------------------------
# ETL temporary files
# -------------------------------
tmp/
temp/
*.tmp
*.bak

# -------------------------------
# Data fi
